h1{
    font-family: 'Libre Baskerville', serif;
    color:white;
    text-align: center;
    font-size: 48px;
    text-transform: uppercase;
}
body{
    background-color: black;
}
p{
    font-family: 'Libre Baskerville', serif;
    color:white;
    text-align: center;
    font-size: 16px;
}
img{
    border:5px solid white;
    width:100%;
}
div{
    width:50%;
    margin-left: 25%;
    margin-top: 100px;
}
